*{
    background-color: rgb(112, 73, 24);
    font-family: Arial, Helvetica, sans-serif;

}

body {
        background-color: rgb(112, 73, 24);
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
   
    }
a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
}
a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color: #0a9496; }
a:active { color:#fba402; }

h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
    color: #0a9496;
}
header {
    text-align: center;
}
header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:20vh;
}
nav{
    justify-content: center;
}
nav ul{
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;

}
nav li{
    display: inline-block;

}
.container ul{

    border-radius: 10%;

}
.container ul li a{

    background-color: rgb(108, 102, 95);

}
.container ul li{
    justify-content: center;
	padding: 1rem;
	margin: 1rem;
	text-transform: uppercase;
	font-size: 1rem;
    border-radius: 30%;
    background-color: rgb(108, 102, 95);
}
section{
    display: flex;
    color:  rgb(191, 179, 164);
    text-align: center;
}
article{
    flex: 1;
    padding: 2%;
    color: rgb(191, 179, 164);
}
header img {
    width:auto;
    height:auto;
    max-width:40%;
    max-height:40vh;
}
.promo{
    justify-content: center;

}

.promo img{
 
    width:auto;
    height:auto;
    max-width:80%;
    max-height:30vh;
    border-radius: 10%;
}
article img{
    flex: 1;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:50vh;
    border-radius: 10%;  
}
.address{
    justify-content: center;
 
}
footer{
    display: flex;
}
footer div{
    flex: 1;
    text-align: center;
    color: rgb(167, 162, 155);
}

footer img {
    width:auto;
    height:auto;
    max-width:10%;
    max-height:10vh;
    align-content: flex-end;
}